*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #e4e3eb; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Bold.ttf") format("ttf"), url("../fonts/Helvetica-BoldOblique.ttf") format("ttf"), url("../fonts/Helvetica.ttf") format("ttf"); }

body {
  font-family: FiraGO, Arial, sans-serif; }

.main-title {
  color: #1a1a1f;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 7.2rem; }

.hidden {
  display: none; }

.position {
  position: relative; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5; }

.line {
  border: 0.5px solid #fff;
  width: 100%; }

.header {
  padding: 0 7.6rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e4e3eb; }
  .header__logo {
    width: 15rem;
    height: 2.4rem; }

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
  z-index: 10;
  background-color: #fff;
  width: 48rem;
  height: 27rem; }
  .modal-title {
    color: #1a1a1f;
    font-size: 24px;
    text-align: center; }
  .modal-label {
    color: #1a1a1f;
    font-size: 4rem;
    justify-self: flex-start; }
  .modal-input {
    padding: 1rem 1.6rem;
    border-radius: 0.9rem; }
  .modal-icon {
    background-color: #14d81c;
    color: #fff;
    border-radius: 50%;
    font-size: 5rem;
    padding: 1rem;
    align-self: center; }

.close-modal {
  border: none;
  background-color: #fff;
  color: #1a1a1f;
  font-size: 34px;
  margin-left: 40rem; }

.btn, .modal-btn {
  background-color: #5d37f3;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  font-size: 14px;
  font-weight: 500;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.8s; }
  .btn:hover, .modal-btn:hover {
    background-color: #e25825; }

.section-hero {
  padding: 0 7.6rem;
  height: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.input-field.invalid {
  border: 1px solid #ea1919;
  background-color: #faf2f3; }

#error-message {
  position: absolute;
  top: 66%;
  left: 2.5rem;
  background-color: transparent;
  color: #ea1919; }

.input-field.invalid + .error-message {
  display: block; }
