// Colors

$white: #fff;
$grey: #e4e3eb;
$darkGrey: #85858d;
$background: #fbfaff;
$black: #1a1a1f;
$lightBlack: #404049;
$yellow: #d6961c;
$green: #15c972;
$purple: #b71fdd;
$orange: #dc2828;
$lightGreen: #60be16;
$blue: #1ac7a8;
$darkPurple: #5d37f3;
$red: #ea1919;
$lime: #14d81c;
$fire: #e25825;
$coolGrey: #f4f3ff


