
.modal__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 2rem;
    border-radius: 2rem;
    z-index: 10;
    background-color: $white;
    width: 48rem;
    height: 27rem;

    &-title{
        color: $black;
        font-size: 24px;
        text-align: center;
    }
    &-label{
        color: $black;
        font-size: 4rem;
        justify-self: flex-start;
    }
    &-input{
        padding: 1rem 1.6rem;
        border-radius: 0.9rem;

    }
    &-icon{
        background-color: $lime;
        color: $white;
        border-radius: 50%;
        font-size: 5rem;
        padding: 1rem;
        align-self: center;
    }
   
}

.close-modal {
   border: none;
   background-color: $white;
   color: $black;
    font-size: 34px;
    margin-left: 40rem;
}
