@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.ttf') format('ttf'),
         url('../fonts/Helvetica-BoldOblique.ttf') format('ttf'),
         url('../fonts/Helvetica.ttf') format('ttf');
  }

body {
    font-family: FiraGO, Arial, sans-serif;

}
 
.main-title{
    color: $black;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 7.2rem;
}
